Package: javino
Version: 1.6.4-240603
Priority:
Architecture: all
Essential:
Depends: 
Pre-depends: openjdk-17-jre
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: A library to supports a robotic-agent platform that uses Raspberry+Arduino boards and Jason Framework.
